@model MiraclesForMito.Models.BlogPost

<div class="blog-post-item col-md-4">
	<div class="well">
		<h4>@Model.Title</h4>
		<a class="btn btn-primary btn-medium" href="~/Admin/BlogPostEdit/@Model.ID">Edit</a>
		<a class="btn btn-danger btn-medium delete-post" data-posttitle="@Model.Title" data-postid="@Model.ID">Delete</a>
	</div>
</div>