@using MiraclesForMito.Models;
@using MiraclesForMito.Utilities;
@model ChangePasswordModel

@{
	ViewBag.Title = "Change Your Password";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Active = "users";
}

<h1>@ViewBag.Title</h1>

<div class="row main-page-section">
	<div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">

		<div class="row">
			<div class="col-md-12 col-lg-12">
				<form id="ChangePasswordForm" method="post" class="form-horizontal" role="form">

					@*Attempted to change password but failed*@
					@if (Model.AttemptedChange && string.IsNullOrEmpty(Model.ErrorMessage))
					{
						<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Success</strong> Your password was successfully changed.
						</div>
					}
					@*Attempted to change password and succeeded*@
					else if (Model.AttemptedChange)
					{
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Failed</strong> @Model.ErrorMessage
						</div>
					}

					<div class="form-group">
						<label for="OldPassword" class="col-sm-2 control-label">Old Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="OldPassword" name="OldPassword" required value="" />
						</div>
					</div>

					<div class="form-group">
						<label for="NewPassword" class="col-sm-2 control-label">New Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="NewPassword" name="NewPassword" required value="" />
						</div>
					</div>

					<div class="form-group">
						<label for="NewPasswordConfirm" class="col-sm-2 control-label">Confirm Password</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" id="NewPasswordConfirm" name="NewPasswordConfirm" required value="" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Change Password</button>
							<a id="Cancel" href="~/Admin/AdminUsers" class="btn btn-danger">Cancel</a>
						</div>
					</div>

				</form>
			</div>
		</div>

	</div>
</div>