@model MiraclesForMito.Models.Event

<div class="row">
	<div class="event-item col-md-12 col-lg-12">
		<h3>@Model.Name</h3>
		<p>@Html.Raw(Model.Description)</p>
		<a class="btn btn-primary btn-medium" href="~/Admin/EventEdit/@Model.ID">Edit</a>
		<a class="btn btn-danger btn-medium delete-event" data-eventname="@Model.Name" data-eventid="@Model.ID">Delete</a>
	</div>
</div>