@using MiraclesForMito.Models;

@{
	ViewBag.Title = "Events";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Active = "event";
	SiteDB db = new SiteDB();
}


<div class="row">
	<div class="col-md-12 col-lg-12 col-md-offset-0 col-lg-offset-0 clearfix">
		<h1 class="clearfix">Events
			<a class="btn btn-success btn-lg pull-right" href="~/Admin/EventEdit/">
				Create New Event
			</a>
		</h1>
	</div>
</div>

<div class="row main-page-section">
	<div class="col-md-12">
		<div class="panel-group" id="accordion">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#PastEvents">
							Past Events
						</a>
					</h4>
				</div>
				<div id="PastEvents" class="panel-collapse collapse">
					<div class="panel-body">
						@Html.Partial(
							"~/Views/Admin/EventsPaginationPartial.cshtml",
							new EventPaginationModel(EventViewType.Archive, db)
							{
								AJAXUrl = "~/Admin/PaginateEvents"
							}
						)
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#UpcomingEvents">
							Upcoming Events
						</a>
					</h4>
				</div>
				<div id="UpcomingEvents" class="panel-collapse collapse in">
					<div class="panel-body">
						@Html.Partial(
							"~/Views/Admin/EventsPaginationPartial.cshtml",
							new EventPaginationModel(EventViewType.Upcoming, db)
							{
								AJAXUrl = "~/Admin/PaginateEvents"
							}
						)
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#TBAEvents">
							TBA Events
						</a>
					</h4>
				</div>
				<div id="TBAEvents" class="panel-collapse collapse">
					<div class="panel-body">
						@Html.Partial(
							"~/Views/Admin/EventsPaginationPartial.cshtml",
							new EventPaginationModel(EventViewType.TBA, db)
							{
								AJAXUrl = "~/Admin/PaginateEvents"
							}
						)
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		$(function ()
		{

			$("body").on(
				"click.delete_event",
				"a.delete-event",
				function (e)
				{
					var jButton = $(this);

					// launch an alert just to make sure the user actually wants to delete this item
					var bDelete = confirm("Are you sure you want to delete '" + jButton.attr("data-eventname") + "'?");

					// only continue if they actually want to delete it
					if (bDelete)
					{
						// grab the container element
						var jEventContainer = jButton.closest("div.event-item");

						// add a class that we can use to fade out the item or show HTML
						jEventContainer.addClass("deleting");

						// delete the item via AJAX
						$.ajax({
							url: "~/API/Event/".ResolveUrl() + jButton.attr("data-eventid"),
							type: "DELETE"
						})
						.done(
							function ()
							{
								// fade out the item then delete after its been faded
								jEventContainer.fadeOut(
									400,
									function ()
									{
										// store this before the button is removed
										var $PaginationContainer = jButton.closest("div.pagination-container");

										// remove the event
										jEventContainer.remove();

										// set the total count
										$PaginationContainer.attr("data-totalCount", (Number($PaginationContainer.attr("data-totalCount")) - 1));

										// reset the pagination
										$PaginationContainer.paginate("Reset");
									}
								);
							}
						)
						.fail(
							function ()
							{
								alert("Failed to delete!");
								jEventContainer.removeClass("deleting");
							}
						);
					}
				}
			);
		});
	</script>
}