@using MiraclesForMito.Models;

@model ForgotPasswordModel

@{
	ViewBag.Title = "Forgot Password";
	Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}

<div class="row">
	<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4 clearfix">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Miracles for Mito Forgot Password</h3>
			</div>
			<div class="panel-body">
				@if (Model.AttemptedReset && string.IsNullOrEmpty(Model.ErrorMessage))
				{
					<div class="alert alert-success alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Success</strong> An email has been sent to you with your new password!
					</div>
				}
				else if (Model.AttemptedReset)
				{
					<div class="alert alert-danger alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Error</strong> @Model.ErrorMessage
					</div>
				}
				<form class="form-horizontal" role="form" method="post">

					<div class="col-sm-12 col-sm-offset-0">
						<div class="form-group">
							<label for="Email">Email address</label>
							<input type="email" class="form-control" id="Email" name="Email" placeholder="Enter email" required />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-info btn-lg btn-block">Reset Password</button>
						</div>
					</div>

				</form>
				<a href="~/Admin" title="Click to go back to the login page"><span class="glyphicon glyphicon-arrow-left"></span> Back to login</a>
			</div>
		</div>
	</div>
</div>