@{
	ViewBag.Title = "Miracles for Mito Unsubscribe";
	Layout = "~/Views/Shared/_BlankLayout.cshtml";
}


<div class="row">
	<div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-4 clearfix">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Unsubscribe</h3>
			</div>
			<div class="panel-body">
				<p>You have been unsubscribed! You will no longer receive email updates when there are new blog posts.</p>
				<a href="~/" title="Click to go to the site"><span class="glyphicon glyphicon-arrow-left"></span> Back to the site</a>
			</div>
		</div>
	</div>
</div>