<div id="BlogSearchContainer" class="row">
	<div class="col-lg-12">
		<form id="BlogSearchForm" action="~/Blog/Search/" method="post" role="form">
			<div class="input-group">
				<input id="BlogSearchInput" placeholder="Enter search term" type="text" class="form-control" />
				<span class="input-group-btn">
					<button class="btn btn-miracles" type="submit">SEARCH</button>
				</span>
			</div>
		</form>
	</div>
</div>
