<div id="BlogShareButtonContainer" class="row hidden-xs hidden-sm">
	<div class="col-lg-12">
		<h4>Grab One of our Buttons</h4>
		<div class="row ">
			<div class="col-sm-12 col-lg-6">
				<a class="image-link" data-toggle="modal" data-target="#FirstMiraclesImage">
					<img alt="MiraclesForMito.org" src="~/Images/Help-Support-Love-Miracles-For-Mito-Button.png" />
				</a>
				<a class="btn btn-sm btn-miracles" data-toggle="modal" data-target="#FirstMiraclesImage">Copy Embed Code</a>

				<div id="FirstMiraclesImage" class="modal fade">
					<div class="modal-dialog modal-sm"">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Copy embed code</h4>
							</div>
							<div class="modal-body">
								<textarea class="form-control" rows="3" readonly><a href="~/#about"><img alt="MiraclesForMito.org" src="~/Images/Help-Support-Love-Miracles-For-Mito-Button.png" /></a></textarea>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-12 col-lg-6">
				<a class="image-link" data-toggle="modal" data-target="#SecondMiraclesImage">
					<img alt="MiraclesForMito.org" src="~/Images/Help-And-Support-Miracles-For-Mito.png" />
				</a>
				<a class="btn btn-sm btn-miracles" data-toggle="modal" data-target="#SecondMiraclesImage">Copy Embed Code</a>

				<div id="SecondMiraclesImage" class="modal fade">
					<div class="modal-dialog modal-sm"">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Copy embed code</h4>
							</div>
							<div class="modal-body">
								<textarea class="form-control" rows="3" readonly><a href="~/#about"><img alt="MiraclesForMito.org" src="~/Images/Help-And-Support-Miracles-For-Mito.png" /></a></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
