@using MiraclesForMito.Models;

@model BlogPaginationModel

@{
	ViewBag.Title = string.Format("{0} | Miracles for Mito Blog", Model.SortedAndFilteredPosts.FirstOrDefault() != null ? Model.SortedAndFilteredPosts.First().Title : "Post Not Found");
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row public-blog-container main-page-section">

	<div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">

			@if (Model.SortedAndFilteredPosts.FirstOrDefault() != null)
			{
				@Html.Partial("~/Views/Blog/BlogSinglePostPartial.cshtml", Model.SortedAndFilteredPosts.First());
			}
			else
			{
				<h3>@Model.NoPostsMessage</h3>
			}

	</div>

</div>


@section scripts
{
	<script type="text/javascript">
		$(function ()
		{
			$("#BlogSearchForm").on("submit", function ()
			{
				var $form = $(this);
				$form.attr("action", $form.attr("action") + $("#BlogSearchInput").val());
			});
		});
	</script>
}