/* Bootstrap recommended WP8 fix */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

@media (min-width: 768px)
{
	.navbar > .container .navbar-brand
	{
		margin-left: 0px;
	}

	.navbar-nav.navbar-right:last-child
	{
		margin-right: 0px;
	}
}

body
{
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
	font-family: 'Open Sans', sans-serif;
}

img
{
	max-width: 100%;
}

#MainNav
{
	min-height: 70px;
	background-color: #fff;
	border-bottom: 0 none;
}

	#MainNav > .container > .navbar-collapse {
		border-bottom: 1px solid #E5E5E5;	
	}

	#MainNav .navbar-brand
	{
		padding: 0px 10px;
		background: url("../Images/nav-brand-logo.png") no-repeat 10px 0px;
		width: 366px;
		height: 70px;
	}

	#MainNav .nav > li > a
	{
		padding-top: 25px;
		padding-bottom: 25px;
		color: #666;
		text-transform:	uppercase;
	}

	#MainNav .nav > li.active {
		border-bottom: 3px solid #3CC3A3;
		color: #3CC3A3;
	}

		#MainNav .nav > li.active > a {
			padding-bottom: 22px;
			color: #3CC3A3;
		}

	#MainNav .navbar-toggle
	{
		background-color: #3CC3A3;
		padding: 19px 20px;
	}

		#MainNav .navbar-toggle .icon-bar
		{
			background-color: #fff;
		}

	#MainNav .nav > li.donate > a
	{
		background-color: #3CC3A3;
		color: #fff;
		padding-right: 40px;
		padding-left: 40px;
	}
		
		#MainNav .nav > li > a:hover
		{
			background-color: #49d1af;
			color: #fff;
		}

		#MainNav .nav > li.active > a:hover {
			background-color: transparent;
			color: #3CC3A3;
		}

		

	@media (max-width: 1200px)
	{
		#MainNav .navbar-brand
		{
			padding: 0px;
			background: url("../Images/nav-brand-logo-smaller.png") no-repeat 0px 0px;
			width: 315px;
			height: 63px;
		}
	}

	@media (max-width: 991px) {
		#MainNav .navbar-brand
		{
			width: 80px;
		}

		#MainNav.admin .navbar-brand
		{
			padding: 0px 10px;
			background: url("../Images/nav-brand-logo-smaller.png") no-repeat 10px 0px;
			width: 325px;
			height: 63px;
		}
	}
	
	@media (max-width: 768px)
	{
		#MainNav .navbar-brand
		{
			padding: 0px 10px;
			background: url("../Images/nav-brand-logo-smaller.png") no-repeat 10px 0px;
			width: 325px;
			height: 63px;
		}

		#MainNav .navbar-header
		{
			border-bottom: 1px solid #E5E5E5;
		}

		#MainNav > .container > .navbar-collapse
		{
			background-color: #eee;
			border-bottom: 2px solid #E5E5E5; 
		}

		#MainNav div.navbar-collapse li
		{
			margin-bottom: 10px;
		}

		#MainNav .nav > li.donate > a
		{
			text-align: center;
		}
		
		#MainNav .nav > li.active > a:hover
		{
			background-color: transparent;
			color: #3CC3A3;
		}
	}
	
	@media (width: 768px)
	{
		#MainNav .navbar-header
		{
			border-bottom: 0 none;
		}

		#MainNav .navbar-brand,
		#MainNav.admin .navbar-brand
		{
			width: 80px;
			background: url("../Images/nav-brand-logo-smaller.png") no-repeat 10px 0px;
		}

		#MainNav > .container > .navbar-collapse
		{
			background-color: #fff;
			border-bottom: 2px solid #E5E5E5; 
		}

		#MainNav div.navbar-collapse li
		{
			margin-bottom: 0px;
		}
	}

	@media (max-width: 460px) {
		#MainNav .navbar-brand,
		#MainNav.admin .navbar-brand
		{
			width: 255px;
			background: url("../Images/nav-brand-logo-smaller.png") no-repeat -63px 0px;
		}
	}

	@media (max-width: 355px) {
		#MainNav .navbar-brand,
		#MainNav.admin .navbar-brand
		{
			width: 80px;
			background: url("../Images/nav-brand-logo-smaller.png") no-repeat 10px 0px;
		}
	}