div.main-page-section {
	margin-bottom: 40px;
}

div.main-page-section h1 {
	color: #BBDB90;
	margin-bottom: 40px;
}

	div.main-page-section p {
		color: #666;
		font-family: Helvetica, Arial;
	}

div.about-page-header {
	color: #FB5267;
}

div.about-page-header h1 {
	margin-bottom: 20px;
	color: #FB5267;
}

div.about-page-header .fa.fa-heart-o {
	font-size: 80px;
	display: block;
	float: left;
	margin-right: 20px;
	color: #FB5267;
}

div.main-page-footer {
	background-color: #222;
	color: #eee;
	padding: 40px
}

div.main-page-footer .fa {
	font-size: 2em;
}

div.main-page-footer .page-header {
	margin: 0px 0px 20px 0px;
}

div.main-page-footer form {
	margin: 20px 0px 0px 0px;
}

div.main-page-footer form button[type="submit"] {
	width: 100%;
	background-color: #222;
	color: #eee;
	border-radius: 0px;
	border-color: #27b585;
}

div.main-page-footer .foot-notes {
	border-top: 1px solid #ccc;
	margin: 40px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}