div.main-page-section {
    margin-bottom: 40px;
}

    div.main-page-section h1 {
        color: #BBDB90;
        margin-bottom: 40px;
    }

    div.main-page-section p {
        color: #666;
    }

    div.main-page-section a.block-link {
        display: block;
        color: #3CC3A3;
        text-decoration: none;
        font-size: 12px;
        width: 100%;
        padding: 2px 10px;
        border: #3CC3A3 solid 1px;
        margin-bottom: 10px;
    }

        div.main-page-section a.block-link.view-all {
            color: #fff;
            background-color: #3CC3A3;
            margin-top: 4px;
        }

/*Header*/
div.about-page-header {
    color: #FB5267;
}

    div.about-page-header h1 {
        margin-bottom: 20px;
        color: #FB5267;
    }

    div.about-page-header .fa.fa-heart-o {
        font-size: 80px;
        display: block;
        float: left;
        margin-right: 20px;
        color: #FB5267;
    }

div.events-container h4 {
    color: #3CC3A3;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 8px;
    margin-bottom:  0;
}

div.event-item h5 {
    margin-bottom: 0;
}

div.event-item span {
    color: #bfbfbf;
    font-size: 11px;
    margin: 8px 0;
    display: block;
}

ol.breadcrumb {
    margin-top: 10px;
}

/*Links*/
div.main-page-section div.useful-resource {
    height: 210px;
    margin-bottom: 30px;
}

    div.main-page-section div.useful-resource p.content {
        height: 120px;
    }

    div.main-page-section div.useful-resource header {
        color: #3CC3A3;
        font-weight: bold;
        height: 40px;
    }

/* Blog */

div.public-blog-container
{
	margin-top: 25px;
}

	div.public-blog-container div.blog-post
	{
		border-bottom: 1px solid #eee;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	div.public-blog-container div.row-last div.blog-post
	{
		border-bottom: 0 none;
	}

		div.public-blog-container div.blog-post h5.post-date
		{
			margin-bottom: 0px;
			color: #777;
		}

		div.public-blog-container div.blog-post h3.post-title
		{
			margin-top: 5px;
		}

			div.public-blog-container div.blog-post h3.post-title > a
			{
				color: #666;
			}

#BlogNewsletterFormContainer h5
{
	font-weight: bold;
	margin-bottom: 0px;
}

#BlogSearchContainer
{
	margin-bottom: 40px;
}

#BlogShareButtonContainer a.image-link
{
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
}

#BlogShareButtonContainer
{
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 10px;
}

#BlogShareButtonContainer h4
{
	color: #3ABBA9;
}

	#BlogShareButtonContainer a.btn
	{
		margin: 0 auto;
		padding: 10px 10px;
	}

/*Footer*/
div.main-page-footer {
    background-color: #222;
    color: #eee;
    padding: 40px;
}

    div.main-page-footer .row {
        margin: 0px 0px 20px 0px;
    }

    div.main-page-footer a .fa,
	div.main-page-footer a span.glyphicon-user {
        font-size: 2em;
        margin: 0px 10px;
        color: #fff;
    }

	div.main-page-footer a span.glyphicon-user
	{
		font-size: 1.8em;
	}

        div.main-page-footer a:hover .fa,
		div.main-page-footer a:hover span.glyphicon-user {
            color: #ccc;
        }

    div.main-page-footer .page-header {
        margin: 0px 0px 20px 0px;
    }

    div.main-page-footer form {
        margin: 20px 0px 0px 0px;
    }

        div.main-page-footer form button[type="submit"] {
            width: 100%;
            background-color: #222;
            color: #eee;
            border-radius: 0px;
            border-color: #27b585;
        }

            div.main-page-footer form button[type="submit"]:hover {
                background-color: #27b585;
            }

    div.main-page-footer .foot-notes {
        border-top: 1px solid #ccc;
        margin: 40px 0px 0px 0px;
        padding: 20px 0px 0px 0px;
    }
