<a id="about"></a>

<div class="row main-page-image-block">
	<div class="col-md-12 col-lg-12">
		<img src="~/Images/rainbow-child-hide.png" />
	</div>
</div>

<div class="row main-page-section">
	<div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">
		<div class="page-header">
			<h1>
				<span class="glyphicon glyphicon-heart-empty"></span>
				We strive to create for support and awareness.<br />
				Noone should ever walk this journey alone.
			</h1>
		</div>
	</div>
</div>
