@using MiraclesForMito.Models;

@{
	SiteDB db = new SiteDB();
}



<a id="about"></a>

<div class="row main-page-image-block">
	<div class="col-md-12 col-lg-12">
		<img src="~/Images/rainbow-child-hide.png" />
	</div>
</div>

<div class="row main-page-section">
	<div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">

		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="page-header about-page-header">
					<h1 class="clearfix">
						<i class="fa fa-heart-o"></i>
						<span class="pull-left">We strive to create awareness, education and support.<br />
							Noone should ever walk this journey alone.
						</span>
					</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-6">
				<h4>Miracles for Mito: In the spirit of strength</h4>
				<p>
					Miracles for Mito’s mission is to ensure that no individual or family has to be alone while trying to understand a complicated mitochondrial diagnosis.			
				</p>
				<p>
					Our mission is to improve the resources and information available to individuals and families that are coping with Mitochondrial Disease in the Rocky Mountain Region.  We are focused on awareness, education, support and advocacy for children and adults.
				</p>
				<p>
					We will create partnerships worldwide to help understand and share the most recent research, patient therapies and resources available in the Rocky Mountain Region.
				</p>
			</div>

			<div class="col-md-6 col-lg-6">
				<h4 class="highlight">Events</h4>
                @foreach (Event mitoEvent in db.Events)
                {
                    Html.RenderPartial("~/Views/Home/Sections/AboutEventsPartial.cshtml", mitoEvent);
                }
			</div>
		</div>

	</div>
</div>
