<a id="footer"></a>
<div class="row main-page-footer">

	<div class="row">

		<div class="col-lg-4">
			<form role="form" action="#" method="post">

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="form-group">
							<label for="first-name-ipt">First Name</label>
							<input id="first-name-ipt" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label for="email-ipt">Email</label>
							<input id="email-ipt" type="email" class="form-control" />
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6  col-xs-6">
						<div class="form-group">
							<label for="last-name-ipt">Last Name</label>
							<input id="last-name-ipt" type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label for="phone-ipt">Phone</label>
							<input id="phone-ipt" type="text" class="form-control" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<label for="interest-select">I'm interested in</label>
							<select id="interest-select" class="form-control">
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
						</div>
						<button type="submit" class="btn">Send</button>
					</div>
				</div>

			</form>
		</div>

		<div class="col-lg-4">
			<div class="row">
				<div class="col-lg-12 col-md-4 col-sm-4 visible-lg visible-md visible-sm visible-xs">
                    <p>
                        Maria Hopfgarten<br />
                        303.319.8219<br />
                        <a href="mailto:mhopfgarten@gmail.com">mhopfgarten@gmail.com</a>
                    </p>
                    <p>Heather Schichtel<br />
                        <a href="mailto:heather.schichtel@gmail.com">heather.schichtel@gmail.com</a>
                    </p>
                </div>
                <div class="col-lg-12 col-md-4 col-sm-4 visible-lg visible-md visible-sm hidden-xs">
					<h3>Donate by mail</h3>
					<address>
						<strong>Miracles for Mito</strong><br />
						789 Sherman Street Suite 250<br />
						Denver, CO 80203
					</address>
				</div>
				<div class="col-lg-12 col-md-4 col-sm-4 text-center hidden-lg hidden-md hidden-sm visible-xs">
					<h3>Donate by mail</h3>
					<address>
						<strong>Miracles for Mito</strong><br />
						789 Sherman Street Suite 250<br />
						Denver, CO 80203
					</address>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="page-header">
				<a href"https://www.google.com/maps/preview/place/789+Sherman+St+%23250,+Denver,+CO+80205/@39.7284722,-104.985054,18z/data=!4m2!3m1!1s0x876c7ed7f97d86e1:0x4cb8e0119d12b93d">map</a>
			</div>
		</div>

	</div>

	<div class="row foot-notes">

		<div class="col-lg-6">
			<p>Copyright &copy; @DateTime.Now.Year Miracles for Mito. All rights reserved</p>
		</div>

		<div class="col-lg-6 clearfix">
			<a class="pull-right" href="http://www.facebook.com/pages/Miracles-for-Mito/146375572070958" target="_blank"><i class="fa fa-facebook"></i></a>
			<a class="pull-right" href="http://twitter.com/miraclesformito" target="_blank"><i class="fa fa-twitter"></i></a>
		</div>

	</div>

</div>
