<a id="links"></a>

<div class="row main-page-image-block">
	<div class="col-md-12 col-lg-12">
		<img src="~/Images/happy-friends.png" />
	</div>
</div>

<div class="row main-page-section">
	<div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">
		<h1>Links to Useful Resources</h1>
		<div class="row">
			<div class="col-md-4 col-lg-4 useful-resource">
				<p class="highlight">Jacob Hallberg’s CaringBridge.org</p>
                <p>A moving blog page created by Maria Hopfgarten, this site is a tribute to her son, Jacob Benjamin Hallberg, 
                    a five-year old boy with Mitochondrial Disease.
				</p>
                <a href="javascript:void(0);">VIEW SITE</a>
			</div>
			<div class="col-md-4 col-lg-4 useful-resource">
				<p class="highlight">Samantha’s Mom</p>
                <p>Heather Schichtel's blog site about her life experiences with her daughter Samantha, a beautiful girl who passed away 
                    from Mitochondrial Disease. This site also contains many useful and relevant links to Mitochondrial resources.
				</p>
                <a href="javascript:void(0);">VIEW SITE</a>
			</div>
			<div class="col-md-4 col-lg-4 useful-resource">
				<p class="highlight">United Mitochondrial Disease Foundation (UMDF)</p>
                <p>The Web site for UMD contains vast amounts of information and resources related to Mitochondrial Disease.</p>
                <a href="javascript:void(0);">VIEW SITE</a>
			</div>
		</div>
        <div class="row">
            <div class="col-md-4 col-lg-4 useful-resource">
                <p class="highlight">The Children’s Hospital</p>
                <p>The Web site for The Children's Hospital, one of the top 10 children's hospitals in the nation and a place parents across the 
                    Rocky Mountain region have come to trust.
                </p>
                <a href="javascript:void(0);">VIEW SITE</a>
            </div>
        </div>
	</div>
</div>
