<a id="mito11"></a>
<div class="row main-page-section">
	<div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">
		<h1>Mito 1:1</h1>
		<h4>What is a mitochondrial disease?</h4>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<p>
					Mitochondrial diseases result from failures of the mitochondria, specialized compartments present in every cell of the body except red blood cells. Mitochondria are responsible for creating more than 90% of the energy needed by the body to sustain life and support growth. When they fail, less and less...energy is generated within the cell. Cell injury and even cell death follow. If this process is repeated throughout the body, whole systems begin to fail, and the life of the person in whom this is happening is severely compromised. The disease primarily affects children, but adult onset is becoming more and more common.
				</p>
			</div>
			<div class="col-md-6 col-lg-6">
				<p>
					Diseases of the mitochondria appear to cause the most damage to cells of the brain, heart, liver, skeletal muscles, kidney and the endocrine and respiratory systems.				</p>				<p>					Depending on which cells are affected, symptoms may include loss of motor control, muscle weakness and pain, gastro-intestinal disorders and swallowing difficulties, poor growth, cardiac disease, liver disease, diabetes, respiratory complications, seizures, visual/hearing problems, lactic acidosis, developmental delays and susceptibility to infection.
				</p>
			</div>
		</div>
	</div>
</div>