<a id="mito11"></a>
<div class="row main-page-section">
	<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
		<h1>Mito 1:1</h1>
		<h4>What is a mitochondrial disease?</h4>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<p>
				Mitochondria exist in nearly every cell of the human body, producing 90 percent of the energy the body needs to function. In a person with mitochondrial disease, the mitochondria are failing and cannot convert food and oxygen into life-sustaining energy. More than one organ systems are typically involved. There is today no cure, and for a person living with Mitochondrial Disease, life is compromised, changed or even ended.
				</p>
			</div>
			<div class="col-md-6 col-lg-6">
				<p>
				Every 15 minutes, a child is born who will develop mitochondrial disease by age 10. We now know that this group of diseases is approaching the frequency of childhood cancers.
				</p>
			</div>
		</div>
	</div>
</div>